# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform directories and lock file
.terraform/
.terraform.lock.hcl

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan output files
*.tfplan

# Ignore sensitive variable files
terraform.tfvars
*.tfvars
